
@model DFEItechFurniture.Models.Lot

<h2>Narrow Search</h2>
@using (Html.BeginForm("ListLots", "Lot"))
{
    @Html.LabelFor(model => model.LotId, "Lot#")
    @Html.TextBoxFor(model => model.LotId, new {style = "width: 60px;" })

    @Html.LabelFor(model => model.LotName, "Lot Name")
    @Html.TextBoxFor(model => model.LotName, new { style = "width: 150px;" })

    @Html.LabelFor(model => model.LotType, "Lot Type")
    @Html.TextBoxFor(model => model.LotType, new { style = "width: 150px;" })

    @Html.LabelFor(model => model.Exterior, "Weatherproof")
    @Html.CheckBoxFor(model => model.Exterior)

    <input type="submit" class="btn btn-default" value="Search &raquo;" />
}

